<header>
    <nav class="navbar navbar-default"  ng-show="authenticated">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cargospring_navbar" aria-expanded="false">
                    <span ng-repeat="page in appPages" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/index">CargoSpring</a>
            </div>
            <div class="collapse navbar-collapse" id="cargospring_navbar">

                <ul class="nav navbar-nav">
                    <li data-ng-repeat="page in appPages" class="{{(page.path) == getCurrentPage().path? 'active' : ''}}" ng-show="hasAuthority(page.roles)">
                        <a href="{{'#/'+page.path}}">{{page.name}}</a>
                    </li>
                </ul>
                <h4 class="navbar-text">{{getCurrentPage().name}}</h4>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{appPath+'?logout'}}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
